
/* FORM-AZUL */

/* implemento boton de select */
.form-azul select.borrar-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.form-azul select + i.fa {
  float: right;
  margin-top: -54px;
  margin-right: 5px;
  pointer-events: none;
  background-color: black;
  padding: 17px 22px;
  font-size: 20px;
}

.panel-heading {
  min-height:auto !important;
}

/*ProgressBar en Tabla*/
.progress-bar, .progress{
  height: 0.5rem;
}

.table-item{
  padding: 15px 0px;
  margin: 0px 15px;
  border-bottom: 1px solid #ccc;
}

.table-item:last-child {border-bottom: none;}