
/* FORM-AZUL */

/* implemento boton de select 
.form-azul select.borrar-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.form-azul select + i.fa {
  float: right;
  margin-top: -54px;
  margin-right: 5px;
  pointer-events: none;
  background-color: black;
  padding: 17px 22px;
  font-size: 20px;
}*/

.form-azul select, input {
  border-radius: 4px !important;
}

.panel-heading {
  min-height:auto !important;
}

/* MEDIA QUERIES */


/*ProgressBar en Tabla*/
.progress-bar, .progress{
  height: 0.5rem;
}

.table-item{
  padding: 15px 0px;
  margin: 0px 15px;
  border-bottom: 1px solid #ccc;
}

.table-item:last-child{
  border-bottom: none;
}

.text-with-icon i{
  padding-top: 2px;
  float: left;
}
.text-with-icon h4{
  padding-left: 20px;
}
.btn .fa.fa-lg{
  line-height: 1em;
  font-size: 1.7em;
}
.form-group textarea.form-control{
  font-size: 20px;
  font-weight: 400;
  height: 180px;
  padding: 10px 20px;
}

.bg-none {
	background:none;
}

.btn-contorno {
	background-color: white;
	color: #0695D6;
	padding: 12px 25px;
	text-transform: capitalize;
	font-weight: bold;
	
	border: 2px solid #0695D6;
	
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}

.btn-contorno:hover {
	border:2px solid #3c8dbc !important;
	color: #3c8dbc;
}

.box-body .table-responsive {
	padding:20px;
}

.table-responsive tr:nth-child(1) td {
	border-top: none;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
	clear:both;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: none;
	}
}
