
/* FORM-AZUL */

/* implemento boton de select */
.form-azul select.borrar-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.form-azul select + i.fa {
  float: right;
  margin-top: -54px;
  margin-right: 5px;
  pointer-events: none;
  background-color: black;
  padding: 17px 22px;
  font-size: 20px;
}

.panel-heading {
  min-height:auto !important;
}

/* MEDIA QUERIES */


/*ProgressBar en Tabla*/
.progress-bar, .progress{
  height: 0.5rem;
}

.table-item{
  padding: 15px 0px;
  margin: 0px 15px;
  border-bottom: 1px solid #ccc;
}

.table-item:last-child{
  border-bottom: none;
}

.text-with-icon i{
  padding-top: 2px;
  float: left;
}
.text-with-icon h4{
  padding-left: 20px;
}
.btn .fa.fa-lg{
  line-height: 1em;
  font-size: 1.7em;
}
.form-group textarea.form-control{
  font-size: 20px;
  font-weight: 400;
  height: 180px;
  padding: 10px 20px;
}

.bg-none {
	background:none;
}

.btn-contorno {
  border:1px solid #0695D6;
  background-color: white;
  color: #0695D6;
  padding: 12px 25px;
  text-transform: capitalize;
  font-weight: bold;
}

.btn-contorno:hover {
  border:2px solid #0695D6 !important;
  color: #0695D6;
}




